# Pandas

In [ ]:
# Importing numpy and pandas library
import numpy as np
import pandas as pd

### Pandas Series

One dimensional labeled array in Pandas series is capable of holding any type of data. Data alignment in Pandas is intrinsic. Why is pandas similar to NumPy on this regard?

In [ ]:
# Understanding what goes into a pandas series (notice the index input option for a series)
pd.Series?

In [ ]:
# Creating a pandas series from a list (similar to numpy.array)
my_list = [1,2,3]
print(my_list)
ds = pd.Series(my_list) # short for data-series (ds)
type(ds) # printing the type of pandas data series

In [ ]:
# Printing the output (notice how the output is different than that of the numpy array)
print(pd.Series(my_list))
print("--"*10)
np.array(my_list)

In [ ]:
# Again, the syntax for creating a pandas series is pd.Series(data,index)

# Creating a pandas series from numpy array
my_array = np.linspace(0,10,11)
ds = pd.Series(my_array)
print(my_array)
print(80*'-')
ds # Pandas series prints the index and values (unlike numpy array)

In [ ]:
# Playing around with the index
my_array = np.linspace(0,10,11)
my_index1 = np.linspace(10,20,11)
my_index2 = np.linspace(100,110,11)
ds1 = pd.Series(data=my_array,index=my_index1) 
ds2 = pd.Series(data=my_array,index=my_index2) # Two series with same vlaues but different index

In [ ]:
ds1

In [ ]:
ds2

In [ ]:
# You can not compare the two dataframes (due to different indexes they are two different dataframes)
# For two pandas series to be comparable, they must be identical in all respects (index and values)
ds1 == ds2

In [ ]:
# Index can take any name (not only restricted to numbers)
my_array3 = np.array([1,2,3,4])
my_index3 = ["A B C D".split()]
ds3 = pd.Series(data=my_array3,index=my_index3)
ds3

In [ ]:
# Can we have the same index across two rows?
my_array3 = np.array([1,2,3,4])
my_index3 = ["A B B C".split()]
ds3 = pd.Series(data=my_array3,index=my_index3)
ds3

In [ ]:
# What happens when we select index "B"
ds3.loc["B"]

In [ ]:
# Creating two pandas series with different indices 
my_array3 = np.array([1,2,3,4])
my_index3 = ["A B C D".split()]
ds3 = pd.Series(data=my_array3,index=my_index3)

my_array4 = np.array([1,2,3,4])
my_index4 = ["B C D E".split()]
ds4 = pd.Series(data=my_array4,index=my_index4)

In [ ]:
ds3

In [ ]:
ds4

In [ ]:
# When we try to add two series with different index values
ds3+ds4

In [ ]:
# What is NaN (arithmetic operations on nan)
np.nan
#type(np.nan)

In [ ]:
#Resetting index (a new object from a new class)
print(type(ds))
print(ds)
ds.reset_index()
#type(ds.reset_index())

### Pandas Data Frames

Recall that a numpy matrix was created by stacking numpy arrays. Similarly, a Pandas dataframe is constructed by stacking pandas series together.

In [ ]:
# Visualizing our data through a numpy matrix first (numpy matrix is a stack of numpy ndarrays)
my_matrix = np.array([['Ronaldo', 2002, 'Brazil'],
                      ['Grosso', 2006, 'Italy'],
                      ['Iniesta', 2010, 'Spain'],
                      ['Gotze', 2014, 'Germany']])

my_matrix

In [ ]:
# Creating a pandas dataframe from scratch 
df = pd.DataFrame([['Andy', 87, 'M'],
                   ['Bill', 67, 'M'],
                   ['Catherine', 93, 'F'],
                   ['David', 95, 'M'],
                   ['Emma', 50, 'F']],
                  columns=['Name', 'Score', 'Gender'])

df

In [ ]:
type(df)

In [ ]:
# Selecting a column
df['Score']

In [ ]:
# SQL way of selecting data (not the recommended way - not considered good a programming practice)
df.Score

In [ ]:
# Selecting two columns (spot the difference)
df[['Name','Score']]

In [ ]:
# Rearranging the column order
df = df[['Name','Gender','Score']] # not an inplace operation
df

In [ ]:
# Location operator - syntax is .loc[row,column]
df.loc[0,["Name","Score"]]

In [ ]:
# Modifying data using the Location operator
df.loc[0,"Score"] = 92
df

In [ ]:
# Modifying the index and using the loc operator
df.index = "A B C D E".split()
df
df.loc["A",:]
# error if we change A to 0

In [ ]:
# Now using the integer location operator - syntax .iloc[row_integer,column_integer]
df.iloc[0,:]

In [ ]:
# Showing column with iloc
df.iloc[:,1] # Rows and columns in iloc have to be integers (names will give an error)

In [ ]:
# When a series is compared to a constant (similar to numpy)
df[df['Score']>90]

### DataFrame Operations

In [ ]:
# Creating a new column
df = pd.DataFrame([['stock1',50,1000],
                   ['stock2',75,900],
                   ['stock3',125,400]],columns=['stock_name','price','shares'])
df
df['market_cap'] = df['price']*df['shares']

In [ ]:
# Sum function can be called on the series (and on the dataframe)
df['market_cap'].sum()

In [ ]:
# Create an empty dataframe column by broadcasting
df['pe_ratio'] = 0
df

In [ ]:
# Dropping the market_cap column
df.drop(columns=['market_cap'],inplace=True) # inplace=False is default
df

In [ ]:
# Dropping rows
df.drop(0) # not an inplace opearator
df

In [ ]:
# Sorting the dataframe on outstanding shares
df.sort_values(by=['shares'])

In [ ]:
# Setting index
df = df.set_index('stock_name')
df

In [ ]:
# Resetting index
df = df.reset_index()
df

In [ ]:
# Creating a dataframe 
df = pd.DataFrame(np.linspace(0,8,9).reshape(3,3),columns=['A B C'.split()])
df

In [ ]:
# Sum function 
df.sum(axis=0,skipna=True,min_count=2)

### Data Analysis

In [ ]:
# Loading panel data through pandas
df = pd.read_csv("stock_data.csv")
df.shape

In [ ]:
# Viewing a sample of the dataframe (due to large size)
df.head()

In [ ]:
# Getting info on our dataframe
df.info()

In [ ]:
# Unique permnos
df['permno'].nunique()

In [ ]:
# Unique company names
df['company_name'].nunique()

In [ ]:
# Observe how the date is initially loaded 
df['date'][0]
#type(df['date'][0])

In [ ]:
# Pandas has a convenient hack for dates
df['date'] = pd.to_datetime(df['date'])
df['date'][0]

In [ ]:
# Dataframe date format
df['date'].head()

In [ ]:
# Converting datetime from one format to another
df['date'].dt.strftime("%d-%m-%Y").tail()

In [ ]:
# writing dates in pandas
pd.Timestamp(year=2013,month=12,day=7)

In [ ]:
# Adding days to a date (or hours/minutes etc)
some_date = pd.Timestamp(year=2013,month=12,day=7)
print(some_date)
some_date + pd.Timedelta('3 days')

In [ ]:
# Creating a Series of dates (a cool trick!)
my_date = pd.to_datetime(pd.Series(['13 July 2013','5 May 2010','15 March 2020']))
print(my_date)
my_date + pd.tseries.offsets.MonthEnd(0)

In [ ]:
# Using Pandas date range to generate dates
pd.date_range(start='01 Jan 2021', end='31 Jan 2021')
#pd.date_range(start='01 Jan 2021', periods=18, freq= 'M')

In [ ]:
# Loading the dataframe again
df.tail()

In [ ]:
# Checking the dataframe types (from info)
df.info() # observe that prices and returns are still objects!

In [ ]:
# Converting price and returns to numbers
df['price'] = pd.to_numeric(df['price'],errors='coerce')
df['total_returns'] = pd.to_numeric(df['total_returns'],errors='coerce')

In [ ]:
# Checking info again
df.info()

In [ ]:
df.tail()

In [ ]:
# Rows that have NaNs
df.isnull() # Returns True in dataframe where values are NaN
#df.isnull().sum() gives count of NaN values
#df[df['total_returns'].isnull()] # notice I can pass a true/false array to see which rows have returns as missing

In [ ]:
# Dropping NaN values (involves dropping the whole row) - we drop the NaNs by writing command dropna()
df.dropna().tail()

In [ ]:
# Method 1 for dealing with all NaN values
df.replace(np.nan,0).tail()

In [ ]:
# Method 2 for dealing with all NaN values
df['total_returns'] = df['total_returns'].fillna(0)
df['price'] = df['price'].fillna(method='ffill') # ffill is forward fill for handling NaN values
df.tail()

In [ ]:
# Filtering
df = df[df['permno']!=10001] # df and index start without 10001 permno

In [ ]:
# Exporting your dataframe to a csv
df.to_csv('out.csv')

### Merging

In [ ]:
# Creating a dataframe with stock names and stock price
df1 = pd.DataFrame([['A',100],
                    ['B',120],
                    ['C',50]],columns=['stock','price'])
df1

In [ ]:
# Creating a dataframe with stock name and stock PE ratio
df2 = pd.DataFrame([['B',10],
                    ['C',14],
                    ['D',1000]],columns=['stock','pe_ratio'])
df2

In [ ]:
# Simple merging syntax
pd.merge(left=df1,right=df2,on=['stock'],how='inner')
# inner - intersection
# outer - union
# left - keeps all left dataframe 
# right - keeps all right dataframe

### Groupby

Similar to the Pivot table in excel, this function lets you group/split data for calculations and transformations.

In [ ]:
# Reloading the dataset analyzed above (shortcut to parse the dates while reading the data)
df = pd.read_csv("stock_data.csv",sep = ',',parse_dates=['date'])

# Converting any letters into NaN
df['price'] = pd.to_numeric(df['price'],errors='coerce')
df['total_returns'] = pd.to_numeric(df['total_returns'],errors='coerce')

# Creating a new column
df['market cap'] = df['price']*df['share_outstanding']

# Printing the tail
df.tail(7)

In [ ]:
# Grouping by Company Name and counting number of data points available
df.groupby('permno')['total_returns']#.mean().sort_values()
#list(df.groupby('permno')['total_returns'])

In [ ]:
# Aggregating various statistics of returns for each PERMNO
df.groupby('permno')['total_returns'].agg([np.mean,np.median,np.std,np.var])

In [ ]:
# Grouping by dates and calculating average returns for each date
df.groupby('date')['total_returns'].mean()#.reset_index()

In [ ]:
# Binning market cap >200,000 USD
df.loc[df['market cap']<=200000,'category'] = 1
df.loc[df['market cap']>200000,'category'] = 2
df.head()

In [ ]:
# Grouping by two columns
df.groupby(['date','category'])['total_returns'].mean().head(15)#reset_index

### Stack/Unstack

In [ ]:
# Simple example of unstacking (from above example)
df.groupby(['date','category'])['total_returns'].mean().head(15)
# Execute the unstack command and show how 1 and 2 are now separate columns

In [ ]:
# creating a new dataframe
df2 = pd.DataFrame(np.linspace(0,10,10).reshape(5,2),columns=['A','B'])
df2

In [ ]:
# Stacking the columns 
df2.stack()

# Take Home Questions

- **Pandas Mul Function** - Use this dataframe created in the code chunk below. We have three columns with random float values. The goal is to multiply columns 1 and 2 with columns 3. Firstly, notice how running the function (df[['col1','col2']]*df['col3']) returns a matrix of NaN values. Now, use the .mul() function by passing df[['col1','col2']].mul(df['col3'],axis=0). Notice how we get the same NaN matrix when we change axis=1 instead.

In [ ]:
# Creating a dataframe for problem 1
np.random.seed(123)
df = pd.DataFrame() # Creating a blank data-frame
df['col1'] = np.random.rand(10)
df['col2'] = np.random.rand(10)
df['col3'] = np.random.rand(10)
df

- **Load CSV data** (*stock_data.csv*) - parse dates using the *pd.to_datetime* command, read the stock returns as numeric values using the *pd.to_numeric* command, drop all NaN values using the dropna(), and reset the index. We will be working with this dataframe (unless stated otherwise) for the remainder of the questions below.

- **Aggregating** - For each PERMNO, calculate the following statistics for the total_returns - sum, mean, std dev, and median. *Hint - use .groupby('permno') and then aggregate by the stats. The ".agg()" function might be useful*.

- **Filtering Text** - You can parse the company name column to search for companies that match your key words. A basic filter would be to check for "OIL", "GAS", and "ENERGY" companies. Write a program that returns the number of unique PERMNOs that match the above 3 key-words. *Hint*: Try using df['company_name'].str.contains(). Also, **regex** (regular expression) is a is a powerful library you may want to try out (for those interested in text analysis)!

- **Merging** - Create a new dataframe with the last available date and price for each PERMNO. For example, the only entry for PERMNO 10001 is 31-Jul-2017 (date) and 12.95 (price). Merge this new dataframe onto the original dataframe. Fill the missing/NaN values using pandas fillna function with a method of your choice.

- **Lagged Market Cap** - Create three new columns that contain the 6-month, 1-year, and 5-year lagged market cap. For example: PERMNO 10001 on 30-Jun-2016 will have the market cap as on 31-Dec-2015 (7.45 $\cdot$ 10505 = 78262.25) as its 6-month lag market cap. Perform a similar exercise to generate the 1-year and the 5-year lag market caps.

- **Resampling Frequency** - Convert the monthly dataframe that you loaded above into quarterly data and annual data. *Hint*: First, load and clean the data as per procedure mentioned above. Second, create a new column containing quarters corresponding to the given month (ex: 30-Nov-2010 is a quarter 4). Lastly, create a new dataframe "df_quarter" by aggregating data using the groupby command. For the quarterly dataframe your columns will be {permno, date, quarter, total_returns, market_cap}. Note that you will need to add the monthly returns to generate quarterly returns. Also note that you will need the quarter end market cap for each PERMNO each quarter. For example : In the Quarterly dataframe, PERMNO 10001 as of 31-Mar-2010 will have total returns 0.001055 (-0.018932-0.000656+0.020643) and the market cap 44351.37 (10.17$\cdot$4361). Perform the same procedure for creating data at an annual frequency.